/* font */
base-font-size = 16px
base-font-famely = 'Roboto', sans-serif
/* background */
light-background = #fff
dark-background = #000
orange-background = #f57c00
blue-background = #0091ea
/* color */
base-text-color = #424242
light-color = #fff
dark-color = #000
/* border */
light-border = #fff
dark-border = #000