@import "_page_theme_media-variables"
@import "_page_theme_media-mixins"
// fonts
//font-name = 'roboto'
/* normal */
//fontFace(font-name + '-thin', 'Roboto', 100, normal)
//fontFace(font-name + '-light', 'Roboto', 300, normal)
//fontFace(font-name + '-regular', 'Roboto', 400, normal)
//fontFace(font-name + '-medium', 'Roboto', 500, normal)
//fontFace(font-name + '-bold', 'Roboto', 700, normal)
//fontFace(font-name + '-black', 'Roboto', 900, normal)
/* italic */
//fontFace(font-name + '-thinitalic', 'Roboto', 100, italic)
//fontFace(font-name + '-lightitalic', 'Roboto', 300, italic)
//fontFace(font-name + '-italic', 'Roboto', 400, italic)
//fontFace(font-name + '-mediumitalic', 'Roboto', 500, italic)
//fontFace(font-name + '-bolditalic', 'Roboto', 700, italic)
//fontFace(font-name + '-blackitalic', 'Roboto', 900, italic)

html
  height 100%

.page_theme_base
  font-size base-font-size
  font-family base-font-famely
  color base-text-color
  line-height em(24px, @font-size)
  min-height 100%
  display flex
  flex-direction column